@for $i from 1 through 12 {
    .col-#{$i} {
        width: (100% / 12) * $i;
    }
}

@for $i from 1 through 12 {
    .small-#{$i} {
        width: (100% / 12) * $i;
    }
}

@include respond-to('medium') {
    @for $i from 1 through 12 {
        .medium-#{$i} {
            width: (100% / 12) * $i;
        }
    }
}

@include respond-to('large') {
    @for $i from 1 through 12 {
        .large-#{$i} {
            width: (100% / 12) * $i;
        }
    }
}