//Global Variables
$contentCardBorder : 1px solid #000;
$card-width : calc(25% - 40px);
$mainFontColor : #000;

//Grid
$column-gap: 40px;
$max-column-number : 12;

//Main Menu

$mainMenuSecondary : #000;
$mainMenuPrimary: #fff;


    //Main Menu Items
    $searchBorder : 1px solid #bbb;