<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Portfolio Delivery System</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="vendor/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="build/css/main.css" />
    </head>
    <body>
        <nav>

        </nav>
        <section>
            <%- partial(page) %>
        </section>
        <footer>

        </footer>
        <script src="vendor/js/jquery-3.2.1.min.js"></script>
        <script src="build/js/main.js"></script>
    </body>
</html>