<div class="banner full_width">
    <img class="banner_img" src="/img/banner.png" title="banner title" alt="banner" />
</div>

<div class="homepage_content_wrapper">
    <section class="blog--recent_post">
        <h2 class="section_title"><%= resources.msg('section.blog.recent', 'sections', 'Recent Posts') %></h2>

        <div class="content_wrapper">
            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

        </div>
    </section>

    <section class="blog--most_popular">
        <h2 class="section_title"><%= resources.msg('section.blog.popular', 'sections', 'Popular Posts') %></h2>

        <div class="content_wrapper">

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

        </div>
    </section>

    <section class="projects">
        <h2 class="section_title"><%= resources.msg('section.projects.title', 'sections', 'Projects') %></h2>

        <div class="content_wrapper">

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

        </div>
    </section>

    <section class="academic">
        <h2 class="section_title"><%= resources.msg('section.academic.title', 'sections', 'Academic') %></h2>

        <div class="content_wrapper">

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

            <div class="content content--card col-12 medium-6 large-3">
                <picture class="thumbnail_container">
                    <img class="thumbnail" src="/img/thumbnail.png" alt="Placeholder Image" title="Placeholder Image" />
                </picture>
                <p class="text">Example Title for blog post and Files</p>
            </div>

        </div>
    </section>
</div>